<div class="container center_div">
  <div class="card text-center">
    <h2>Ask Coach a question</h2>
    <form action="/answer">
      <input type="text" name="question" placeholder='What would you like to ask the coach' width="100">
      <input type="submit" value='ask' class="btn btn-primary">
    </form>
  </div>
</div>


